simulation/build/*
Simulation/build
simulation/build/CMakeFiles/*
simulation/build/CMakeFiles
decay_simulation/build/*
decay_simulation/GNUmakefiles
*.csv
*.root
*.log
Clustering/build/*
Clustering/build/CMakeFiles/*
Clustering/CMake*
output/*
output/test*
*.sh
simulation/build/CMakeFiles/*
*pyc
*png
*cmake
output/*png
