simulation/build/
simulation/build/CMakeFiles/
decay_simulation/build/
decay_simulation/GNUmakefile
*.csv
*.root
*.log
Clustering/build/*
Clustering/build/CMakeFiles/*
Clustering/CMake*
output/*
output/test*
*.sh
simulation/build/CMakeFiles/*
*pyc
*png
*cmake
output/*png
scripts/ipynb*
